<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<p>
<% @restaurant.reviews.each do |i| %>
<%= i.rating %>
<%= i.content %>
<% end %>
</p>

<%= link_to "Rate", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

<form action="/restaurants">
  <input type="submit" class="btn btn-primary" value="Home"">
</form>

<form action="/restaurants/new">
  <input type="submit" class="btn btn-primary" value="Create new">
</form>
